body {
    height: 100%;
    padding-top: 18px;
    padding-right: 18px;
    padding-left: 18px;
    padding-bottom: 0;
    font-size: 22px;
    font-family: Georgia, "Times New Roman", serif;
    color: #333333;
}
@media screen and (min-width: 960px) {
    .recipes {
        max-width: 960px;
        margin-left: 318px;
    }
}

@media screen and (min-width: 960px) {
    nav {
        padding-left: 16px;
        padding-right: 24px;
        position: fixed;
        width: 200px;
    }
    nav ul li {
        font-size: 22px;
        text-align: left;
    }
}

nav {
    min-height: 100vh;
    padding-top: 36px;
    font-size: 24px;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav ul li {
    list-style: none;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 24px;
}
a,
a:visited,
a:active {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.recipe {
    margin-bottom: 96px;
}
.recipe:last-child {
    height: 100vh;
}

h1 {
    padding-top: 24px;
    text-align: center;
}

p,
li {
    line-height: 1.6;
}
ul {
    padding-left: 18px;
}
ul ul {
    padding-left: 36px;
}

ul li {
    list-style: none;
}
.recipe ul li:before {
    content: "- ";
}

.recipe ol p {
    margin-bottom: 16px;
}
.recipe ol li {
    margin-bottom: 16px;
}
